
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete Depatment</h1>
<br />
<br />

    <div calss="from-group">
        <label asp-for="Code" class="col-from-label"></label>
        <input asp-for="Code" class="from-control" readonly />
    </div>
